{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header background=@site.cover_image}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}
<main class="main-wrap" style="padding-top: 100px;">
{{#cartanzacollection}}
    <section class="m-hero no-picture " data-animate="fade">
    <div class="m-hero__content" data-animate="fade-down">
      <h1 class="m-hero-title bigger">{{title}}</h1>
      <h2>{{{description}}}</h3>
    </div>
    </section>
    <div class="cartanza-collection-grid" style="padding-top:30px;">
    {{#foreach products}}
    <div class="cartanza-collection-card">
        {{#link href=(concat '/products/' slug '/') activeClass="current"}}
        <div class="cartanza-collection-card-picture">
            <img class="cartanza-collection-card-picture-background" src="/content/images/products/{{img_url images.[0].src}}" width="183" loading="lazy" alt="{{title}}">
        </div>
        <div class="cartanza-collection-card-info">
            <div>
                <h2 class="cartanza-collection-card-title" title="{{title}}" style="margin:0em;">
                {{title}}
                </h2>
            </div>
            <div class="cartanza-collection-card-description">
                {{{description}}}
            </div>
        </div>
        {{/link}}
    </div>
    {{/foreach}}
    </div>
{{/cartanzacollection}}
</main>